body {
  background-color: #ccc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ccc, #F5F5F5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ccc, #F5F5F5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ccc, #F5F5F5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ccc, #F5F5F5); /* Standard syntax */
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0px;
}

.header {
  background-color: #fff;
  height: 80px;
  z-index: 1000;
  width: 100vw;
}

.nav-btn {
  height: 100%;
  margin: auto 5px auto 20px;
  background-color: transparent;
  border: 0;
}

.android-logo {
  height: 26%;
  position: relative;
  top: 0.15rem;
}

.nav-icon {
  color: #647b86;
}

.sidebar-open {
  width: 80vw;
  height: 100%;
  background-color: red;
}

.sidebar-closed {
  display: none;
}
