body {
  background-color: #ccc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ccc, #F5F5F5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ccc, #F5F5F5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ccc, #F5F5F5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ccc, #F5F5F5); /* Standard syntax */
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #fff;
  height: 13rem;
  z-index: 1000;
  width: 100vw;
}

.nav-btn {
  height: 100%;
  margin: auto 1.5rem auto 3.25rem;
  background-color: transparent;
  border: 0;
}

.android-logo {
  height: 26%;
  position: relative;
  top: 0.2rem;
}

.nav-icon {
  color: #647b86;
}

.sidebar-open {
  width: 80vw;
  height: 100vh;
  background-color: #fff;
  display: block;
  position: fixed;
  top: 0;
  outline: 0;
  box-shadow: 20vw 0 rgba(0,0,0,0.7);
}

.sidebar-closed {
  display: none;
}

.sidebar-header {
  display: block;
  background-color: #6ab344;
  height: 18%;
}

.android-logo-white {
  position: relative;
  height: 17%;
  margin: 13rem auto auto 3.25rem;
}

.search-form {
  width: 100%;
  border-bottom: 0.1rem solid #b0bec5;
}

.search-form-input {
  display: inline-block;
  color: #92989b;
  font-size: 2.7rem;
  border: 0;
  outline: 0;
  width: calc(100% - 12.5rem);
  width: -webkit-calc(100% - 12.5rem);
  width: -moz-calc(100% - 12.5rem);
  padding: 4.5rem 3.25rem;
}

.search-form-icon {
  display: inline-block;
  color: #92989b;
}

.menu-list {
  list-style: none;
  padding: 0;
  border-bottom: 0.1rem solid #b0bec5;
}

.menu-list-item {
  display: table;
  height: 5rem;
  padding: 2.3rem 3.25rem;
}

.menu-list-label {
  vertical-align: middle;
  display: table-cell;
  color: #92989b;
  padding: 0 1.5rem;
  font-size: 2.3625rem;
}

.menu-list-label:active {
  color: #6ab344;
}

.menu-list-icon {
  vertical-align: middle;
  color: #92989b;
  display: table-cell;
  width: 3.5rem;
}

.menu-list-label-active {
  vertical-align: middle;
  display: table-cell;
  color: #6ab344;
  padding: 0 1.5rem;
  font-size: 2.3625rem;
}

.item-why-android {
  padding: 4.5rem 3.25rem;
  width: calc(100% - 6.5rem);
  width: -webkit-calc(100% - 6.5rem);
  width: -moz-calc(100% - 6.5rem);
  border-bottom: 0.1rem solid #b0bec5;
}

.item-why-android > span {
  padding: 0;
  display: inline-block;
}

.why-android-expand {
  color: #92989b;
  float: right;
}

.why-android-expand-open {
  color: #6ab344;
  float: right;
}

.why-android-list-closed {
  display: none;
}

.why-android-list-open {
  list-style: none;
  padding: 0;
}

.why-android-list-item {
  color: #92989b;
  padding: 2.3rem;
  font-size: 2.7rem;
}

.why-android-list-open > li:first-child {
  padding-top: 4.6rem;
}
